body 
{
	background-color: #F5F5F5;
	font-family: "Georgia","Baskerville","Times","Times New Roman","Serif";
	font-size: 13pt;
	line-height: 160%;
	color: black;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2em 0 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans", "Helvetica", "Sans-serif";
	font-weight: normal;
}

h1 {
	font-size: 24pt;
	text-shadow: 1px 1px 1px gray;
}

h2 {
	font-size: 18pt;
	text-shadow: 1px 1px 1px gray;
}

h3 {
	font-size: 14pt;
	text-shadow: 1px 1px 1px gray;
}

h4 {
	font-size: 12pt;
}

h5 {
	font-size: 10pt;
}

h6 {
	font-size: 9pt;
}

img {
	border-color: gray;
	border-width: 5px;
	border-style: solid;
	margin-top: 12pt;
}

blockquote  {
	line-height: 130%;
	font-size: smaller;
}

ul, ol {
	line-height: 120%;
}

ol li {
	list-style-type: ;
}

#content_frame {
	width: 600pt;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0pt;
	padding: 0px 0px 60px 0px;
	z-index: 10;
	background-color: #EEE;
	color: black;
}

#header {
	text-indent: 22%;
	text-align: left;
	z-index: 50;
	padding-bottom: 10pt;
	float: left;
}

#footer {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: gray;
	color: white;
	font-size: small;
	text-align: right;
	text-transform: inherit;
}

#tall_content_frame {
	margin: 80px 10px 60px 10px;
	z-index: 10;
	background-color: gray;
}

#content_frame_2 {
	z-index: 20;
	background-color: green;
}

#content {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 0pt 75pt 50pt 75pt;
}

.top {
	position: fixed;
	background-color: #D4B600;
	height: 2px;
	width: 100%;
	margin: 0 10px 0 10px;
	bottom: 138px;
}

.bar {
	background-color: #D4B600;
	z-index: 200;
	height: 2px;
	position: absolute;
	right: 10px;
	left: 10px;
}

div#header .bar {
	bottom: 0px;
}

div#footer .bar {
	top: 0px;
}

#short_header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-indent: 22%;
	text-align: left;
	color: white;
	z-index: 50;
	height: 80px;
	background-color: black;
}

div#header h1 {
	margin: .75em 0 -.08em 0;
}

div#header h2 {
	margin: 0 0 0 1em;
}

.footer {
	background-color: black;
	color: white;
	font-size: small;
	text-transform: inherit;
}

.item {
	
}

.title {
	font-family: "Gill Sans", "Helvetica", "Sans-serif";
	font-size: x-large;
	font-variant: small-caps;
	text-align: right;
	color: #000;
	margin: 0 80% 0 0;
	letter-spacing: 2pt;
}

.details {
	text-align: left;
	margin: -1em 0 0 22%;
	text-transform: inherit;
}

boxed {
	border-color: #6F3;
	border-width: 2px;
	border-style: solid;
}

a.on_black {
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: thin dotted #006 ;
	background: transparent;
	word-wrap: break-word;
	word-break: break-all;
}

a:visited {
	color: #006;
}

a:hover {
	background: #D4B600;
}


.small_heading {
	font-family: Helvetica,Arial;
	font-size: 12pt;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
	position: relative;
}

@media print
{
     a 
    {
	/* Make link text identical to other text */
	border-style: none;
	}
	body
	{
	/* White background to let paper color through */
	background-color: white;
	}
}
